name: Tests

on:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  SCYLLA_URI: localhost:9042
  SCYLLA_KEYSPACE: test
  SCYLLADB_URL: scylladb://localhost:9042/test?replication_strategy=simple

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        case: [test, test-openssl, test-rustls]
    steps:
    - uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: ${{ runner.os }}-${{ matrix.case }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Make certification files.
      run: make mkcert

    - name: Start services
      run: docker compose up -d

    - name: Wait for ScyllaDB
      run: |
        while ! echo 'EXIT;' | docker compose exec -T scylladb cqlsh >/dev/null 2>&1
        do
          sleep 5
          docker compose logs -n 20 scylladb
        done

    - name: Create keyspace
      run: |
        echo "CREATE KEYSPACE IF NOT EXISTS test WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};" | docker compose exec -T scylladb cqlsh

    - name: Run ${{ matrix.case }}
      run: make ${{ matrix.case }}
